* {
    border: 1px solid red;
}

body {
    background-image: url(images/starraill_login.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header h1 {
    color: mistyrose;
    text-align: center;
}

.character-imgs {
    display: flex;
}

.character-imgs img {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
}

.sword-character {
    height: 600px;
    left: 0;
    background-color: whitesmoke;
}

.shield-character  {
    height: 600px;
    right: 0;
}

.game-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0 auto;
}

.game-wrapper img {
    width:  100px;
    height: 100px;
    visibility: hidden;
}

.bottom-img {
    z-index: 1;
    position: absolute;
}

.top-img {
    z-index: 2;
    position: absolute;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
}

.game-wrapper {
    height: 300px;
    width: 300px;
}

.unclickable {
    pointer-events: none;
}

.message {
    text-align: center;
}

.info-text-box {
    color: mistyrose;
}

.reset-new-destination {
    background-color: transparent;
    color: mistyrose;

}