/* * {
    border: 1px solid red;
} */

body {
    background-image: url(images/starraill_login.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 15px;
    background-color: black;
}

header {
    position: relative;
}

header section{
    text-align: center;;
    display: inline;
}

header h1 {
    color: mistyrose;
    display: block;
    font-size: 3rem
}

header button {
    background-color: transparent;
    display: inline;
    position: absolute;
    bottom: 0;
    border: none;
}

header button img{
    width: 40px;
    display: inline;
}

.character-imgs img {
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

.sword-character {
    height: 600px;
    left: 0;
}

.shield-character  {
    height: 600px;
    right: 0;
}

.game-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 100px auto;
    border: 5px solid white;
    height: 310px;
    width: 310px;
    visibility: hidden;
}

.game-wrapper img {
    width:  100px;
    height: 100px;
    visibility: hidden;
    border: 2px solid black;
}

.bottom-img {
    z-index: 1;
    position: absolute;
    background-color: white;
}

.top-img {
    z-index: 2;
    position: absolute;
    background-color: white;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
}

.unclickable {
    pointer-events: none;
}

.message {
    text-align: center;
    margin-right: 30px;
}

.info-text-box {
    color: mistyrose;
}

.reset-new-destination {
    background-color: transparent;
    color:aliceblue;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 999;
}

  .winner-img img {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 5;
  }

  .winner-msg {
    position: absolute;
    top: 10%;
    left: 30px;
    z-index: 6;
    font-size: 3rem;
  }

  img .draw-img {
    width: 500px;
  }

.page-wrapper {
    margin-top: 15px;
}